body {
  width: 960px;
  background: #000000;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
}

.enlarged {
  position:absolute;
  height:480px;
  width:960px;
  border:1px solid black;
  z-index:100;
} 

.wordwrap { 
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}
