{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'css/compare.css'%}">
<div id="top">
  {% if scripts_list %}
    <select id="script">
      <option value=-1 selected=true></option>
      {% for script in scripts_list %}
        <option value={{ script.id }}>{{ script.name }} ({{ script.id }})</option>
      {% endfor %}
    </select>
    <select id="script2">
      <option value=-1 selected=true></option>
      {% for script in scripts_list %}
        <option value={{ script.id }}>{{ script.name }} ({{ script.id }})</option>
      {% endfor %}
    </select>
    <div id='replays'></div>
  {% else %}
    <p>No scripts are available.</p>
  {% endif %}
</div>
<div id="diagram"></div>
<script type="text/javascript">
{% autoescape off %}
  var mapping = JSON.parse('{{ mapping }}');
{% endautoescape %}
</script>
<script type="text/javascript" src="{% static 'scripts/jquery-1.7.2.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/logging.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/scriptserver.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/compare.js' %}"></script>
