{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'css/demo.css'%}">
<link rel="stylesheet" href="{% static 'MetroJs/MetroJs.css'%}">

<div id='tiles'></div>
<!-- <div class="live-tile">
    <div>front</div>
    <div>back</div>
</div>

    <div class="red live-tile" data-mode="flip" data-delay="4000">           
        <div>
            <span class="tile-title">flip tile front</span>
        </div>
        <div>
            <span class="tile-title">flip tile back</span>
        </div>
    </div>
--!>

<script type="text/javascript" src="{% static 'scripts/jquery-1.7.2.js' %}"></script>
<script type="text/javascript" src="{% static 'MetroJs/MetroJs.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/logging.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/scriptserver.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/demo.js' %}"></script>
