{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'MetroJs/MetroJs.css'%}">
<link rel="stylesheet" href="{% static 'css/demo.css'%}">

<div id='tiles'></div>

<script type="text/javascript" src="{% static 'scripts/jquery-1.7.2.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery-ui-1.10.3.custom.js' %}"></script>
<script type="text/javascript" src="{% static 'MetroJs/MetroJs.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/logging.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/scriptserver.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/demo.js' %}"></script>
